.about-text {
  width: 100%;
}

.about-subtext {
    font: var(--p);
    line-height: 1.5;
    color: var(--grayo);
    width: 100%;
}

@media screen and (min-width: 769px) {
  .about-text {
    max-width: unset;
    height: 100%;
    position: relative;
    padding: 1rem 0;
  }

  .about-subtext {
    position: absolute;
    width: auto;
    text-wrap: wrap;
    overflow-wrap: break-word;
  }

  .about-subtext:first-child{
    right: 10%;
    top: 35%;
    text-align: right;
  }
  .about-subtext:nth-child(2){
    right: 30%;
    top: 38%;
  }
  .about-subtext:nth-child(3){
    left: 35%;
    top: 49%;
    text-align: right;
  }
  .about-subtext:nth-child(4){
    left: 20%;
    top: 70%;
  }
}
