.port-container {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    /* margin-right: 3rem; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: .25rem;
    overflow-y: scroll;
    padding-right: 5rem;
    z-index: 10;
    transition: opacity .2s ease-in-out;
    column-gap: 3.75rem;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.port-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.filter-trans {
    opacity: 0;
}

.details {
    height: fit-content;
    min-height: 100svh;
    width: max-content;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    padding: 2rem 0;
    transition: opacity .2s ease-in-out;
}
.project-details {
}
.piece-details {
    position: fixed;
    row-gap: 0;
    padding: 5rem 0 0 0;
}
.details:not(.details-active){
    display: none;
    opacity: 0;
}


.display {
    width: 40%;
    height: fit-content;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 2rem;
    padding: 2rem 0;
    transition: .2s ease-in-out;
    /* background-color: aqua; */
    /* overflow-y: scroll; */
    
}
.project-display {  
}
.piece-display {  
    margin-right: 25rem;
}
.display:not(.display-active) {
    display: none;
    opacity: 0;
}

.project {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    row-gap: 0;
    visibility: visible;
    transition:
        height 1s ease-out;

    /* background-color: red;
    opacity: .5; */
}

.project-company, .piece-title {
    font: var(--p);
    font-size: 3rem;
    color: var(--gray0);
    margin-bottom: -.25rem;
    cursor: pointer;
    min-width: 20rem;
    max-width: 20rem;
    transition: .3s;
}
.piece-title {
    margin-bottom: .75rem;
}

.expanded {
    font: var(--p2);
    color: var(--gray0);
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 
        font-size .5s ease-in-out,
        min-height .45s ease-in-out,
        opacity .3s ease-in-out .2s;
}
.project-expanded:not(.project-expanded-visible) {
    transition: 
        font-size .5s ease-in-out,
        min-height .45s ease-in-out,
        opacity .4s ease-in-out;
    min-height: 0;
    opacity: 0;
    font-size: 0;
}

.project-subtitle, .piece-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    opacity: 1;
    column-gap: .75rem;
    text-wrap: nowrap;
    text-align: center;
}

.project-date, .piece-date {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: .5rem;
    text-wrap: nowrap;
}

.project-desc, .piece-desc {
    height: max-content;
    margin-top: .4rem;
    width: 100%;
    max-width: 20rem;
    text-wrap: wrap;
}
.piece-desc {
    width: max-content;
}

.project-img, .piece-img {
    width: 100%;
    /* aspect-ratio: 1; */
    /* transition: .5s; */
    /* display: none; */
}
.project-img:not(.project-img-visible) {
    display: none;
    /* opacity: 0; */
}
.project-img-visible {
    transition: .3s;
}
.project-img-visible:hover {
    scale: 1.05;
    margin: 1rem 0;
}

.piece-img {
    transition: .4s;
    cursor: pointer;
}
.piece-focus {
    scale: 1.05;
    margin: 2rem;
}
.piece-fade {
    opacity: .6;
}

@media screen and (max-width: 768px) {
    .port-container.mobile {
        flex-direction: column;
        width: 19rem;
        padding: 2.25rem 2.25rem 2.25rem 0;
        overflow-y: hidden;
    }

    .section-selection {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        font: var(--p2);
        color: var(--gray30);
        font-weight: normal;
        /* padding-left: 2.5rem; */
        /* position: fixed; */
        /* margin-top: 2.25rem; */
        column-gap: .5rem;
    }

    .section {
        height: fit-content;
        min-height: 100svh;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        /* overflow-x: hidden; */
        overflow-y: scroll;
        margin-top: .5rem;
        padding-bottom: 15rem;
        transition: 
            height 2s ease-out,
            opacity .2s ease-in-out;
    }
    .section:not(.section-active) {
        display: none;
        opacity: 0;
    }
    
    .project {
        margin-bottom: .7rem;
    }
    .project-company {
        font-size: 2rem;
        margin-top: -.5rem;
        width: 100%;
        min-width: 0;
    }

    .project-img {
        margin-bottom: .25rem;
    }

    .piece-details {
        position: relative;
        padding: .5rem 0 0 0;
    }
    .details {
        width: 100%;
        min-height: 0;
    }

    .piece-title {
        font-size: 1.3rem;
        width: 100%;
        min-width: 0;
        margin-bottom: .125rem;
    }
}