.port-container {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    overflow-y: scroll;
    padding-right: 5rem;
    transition: opacity .2s ease-in-out;
    column-gap: 3.75rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.port-container::-webkit-scrollbar { 
    display: none;
}
.filter-trans {
    opacity: 0;
}

.display {
    width: 40%;
    height: fit-content;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 2rem;
    padding: 2rem 0;
    transition: .2s ease-in-out;
    margin-right: 25rem;
}

.display:not(.display-active) {
    display: none;
    opacity: 0;
}

.piece-title {
    font: var(--p);
    font-size: 2.75rem;
    font-weight: bold;
    color: var(--grayo);
    margin-bottom: .75rem;
    min-width: 20rem;
    max-width: 20rem;
    transition: .3s;
    text-transform: uppercase;
}

.expanded {
    font: var(--p2);
    color: var(--grayo);
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.piece-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    opacity: 1;
    column-gap: .75rem;
    font-size: 1rem;
    text-wrap: nowrap;
    text-transform: uppercase;
    text-align: center;
}

.piece-date {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: .5rem;
    text-wrap: nowrap;
}

.piece-desc {
    height: max-content;
    margin-top: .4rem;
    width: max-content;
    text-wrap: wrap;
}

.piece-img {
    width: 100%;
    position: relative;
    z-index: 999;
    transition: .4s;
    cursor: pointer;
}

.piece-img:hover {
    scale: 1.05;
    margin: 1rem 0;
}

@media screen and (max-width: 1250px) {
    html {
        font-size: 14px;
    }

    .display {
        width: 38%;
        margin-right: 25rem;
    }

    .piece-display {
      width: 40%;
      margin-right: 20.75rem;
    }
}

@media screen and (max-width: 1055px) {
    .display {
        width: 30vw;
        margin-right: 34vw;
    }

    .port-container {
      padding-right: 2rem;
    }

    .piece-display {
      width: 33%;
      margin-right: 17rem;
    }

    .piece-title {
      /* font-size: 1.75rem; */
      text-wrap: wrap;
      min-width: 0;
    }

    .piece-subtitle {
      width: 100%;
      flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .port-container.mobile {
        justify-content: flex-start;
        flex-direction: column;
        width: 75%;
        padding-right: 2.25rem;
        overflow-y: hidden;
    }

    .section {
        height: fit-content;
        min-height: 100svh;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 2.5rem 0;
        transition: 
            height .2s ease-out,
            opacity .2s ease-in-out;
    }
    .section:not(.section-active) {
        opacity: 0;
        height: 0;
        min-height: 0;
        font-size: 0;
        padding: 0;
        margin: 0;
    }

    .piece-gallery-title {
      font: var(--p);
      font-size: 1.25rem;
      font-weight: bold;
      color: var(--grayo);
      width: 100%;
      min-width: 0;
      padding-top: .5rem;
      text-transform: uppercase;
    }

    .piece-gallery-type {
      font: var(--p2);
      font-size: .875rem;
      color: var(--grayo);
      width: 100%;
      min-width: 0;
      padding-top: .125rem;
      text-transform: uppercase;
    }

    .piece-title {
        /* font-size: 1.3rem; */
        width: 100%;
        min-width: 0;
        margin-bottom: .125rem;
    }
}

@media screen and (max-width: 330px) {
    .port-container.mobile {
        width: 70%;
    }
}
