.nav-container {
  z-index: 20;
  width: max-content;
  max-width: 6.943dvh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 1.375rem;
}

/* NAV LOGOTYPE CONTAINER */
.nav-logotype-container {
  min-width: 0;
  max-width: 100%;
  min-height: 0;
  max-height: max-content;
  aspect-ratio: .099;
  flex: auto;
  position: relative;
}

.nav-logotype-container a {
  display: block;
  width: 100%;
  height: 100%;
}

.nav-logotype {
  fill: var(--grayo);
  width: 100%;
  height: 100%;
  display: block;
}

/* NAV LINKS CONTAINER */
:root {
  --right-alignment-padding: .125rem;
}

.nav-links-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  row-gap: .5rem;
  margin-top: .2rem;
  padding-right: var(--right-alignment-padding);
}

.nav-link {
  width: 100%;
  font: var(--h2);
  color: var(--gray30);
  font-size: 1.125rem;
  font-weight: normal;
  opacity: .6;
  list-style-type: none;
  line-height: 1.5rem;
  transition: .5s;
  text-align: right;
}

.nav-link > a {
  display: block;
  width: 100%;
  line-height: normal;
}

.nav-link:not(.active):hover {
  scale: 1.05;
  color: var(--grayo);
  opacity: 1;
}

.nav-link.active {
  opacity: 1;
  color: var(--grayo);
  text-shadow: 0 0 1.5px #00000085;
}

/* VIEWING MODE CONTAINER */
.viewing-mode-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 9%;
  padding-right: var(--right-alignment-padding);
}

.viewing-mode-button {
  --btn-size: 1.125rem;
  flex: 0 0 var(--btn-size);
  width: var(--btn-size);
  height: var(--btn-size);
  aspect-ratio: 1;
  padding: .2rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  opacity: .5;
  transition: flex .5s ease, width .5s ease, opacity .5s ease;
}

.viewing-mode-button:not(.active):hover {
  opacity: 1;
}

.viewing-mode-button.active {
  width: auto;
  min-width: var(--btn-size);
  max-width: max-content;
  flex: 1 1 auto;
  aspect-ratio: unset;
  opacity: 1;
}

.bw-button {
  background-color: var(--grayo);
}

.radio-button {
  background-color: var(--gray70);
}

.viewing-mode-button-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--p2);
  font-size: 0;
  font-weight: 800;
  line-height: normal;
  white-space: nowrap;
  color: transparent;
  padding: .375rem;
  border-radius: 1.5rem;
  border: 1px solid;
  opacity: .6;
  transition: font-size .5s ease, color .5s ease, opacity .5s ease;
}

.viewing-mode-button.active > .viewing-mode-button-inner {
  font-size: .625rem;
  opacity: 1;
  background-color: transparent;
}

.bw-button-inner {
  mix-blend-mode: exclusion;
  border-color: var(--gray100);
  /* background-color: var(--gray100); */
}

.radio-button-inner {
  mix-blend-mode: normal;
  border-color: var(--grayo);
  /* filter: contrast(100); */
}

.viewing-mode-button.active > .viewing-mode-button-inner.bw-button-inner {
  color: var(--gray100);
}

.viewing-mode-button.active > .viewing-mode-button-inner.radio-button-inner {
  color: var(--grayo);
  text-shadow: 0 0 1.5px #00000085;
  box-shadow: 0 0 1.5px #00000085;
}

/* FILTER TABS */
.tab {
  width: fit-content;
  font: var(--p);
  font-size: 1.2rem;
  color: var(--gray30);
  font-weight: normal;
  opacity: .65;
  list-style-type: none;
  transition: .5s;
  cursor: pointer;
}

.tab:not(.tab-active):hover {
  opacity: 1;
}

.tab-active {
  color: var(--grayo);
  text-shadow: 0 0 1.5px #00000085;
  opacity: 1;
}
