.nav {
    grid-row: 4/7;
    grid-column: 2/3;
  }
  
  .title {
    font: var(--h1);
    color: var(--grayo);
  
  }
  .mius {
    font-size: 1.75rem;
  }
  
  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-position: inside;
  }
  .nav-button {
    font: var(--p);
    color: var(--gray30);
    opacity: .8;
    list-style-type: none;
    line-height: 1.75rem;
    transition: .5s;
  }
  .active {
    font-weight: bold;
    color: var(--grayo);
    opacity: .7;
  }