.route-transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;  
  /* animation: fadeIn 0.3s ease-in-out; */
  pointer-events: none;
}

.route-transition-overlay.fade-out {
  animation: fadeOut 0.3s ease-in-out;
}

.route-transition-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trans-wordmark {
  /* width: 100%; */
  height: 66%;
  width: auto;
  z-index: 500;
  mix-blend-mode: overlay;
  /* object-fit: contain; */
}

.route-transition-spinner {
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes tv-nosignal {
	100% {
		background-position: 50% 0, 60% 50%;
	}
}

.trans-noise-wrapper {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	overflow: hidden;
	z-index: 100;
}
.trans-noise-wrapper::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: repeating-radial-gradient(#000 0 0.0001%, #ffffff 0 0.0002%) 
	60% 60%/3000px 3000px,
	repeating-conic-gradient(#000 0 0.0001%, #8f8f8f 0 0.0002%)
	60% 60%/3000px 3000px;
	background-blend-mode: difference;
	animation: tv-nosignal .2s infinite alternate;
	opacity: 1;
}

.trans-scanlines {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	z-index: 300;
	opacity: .4;
	will-change: opacity;
	animation: opacity 3s linear infinite;
  
	&:before {
	  content: '';
	  position: absolute;
	  left: 0;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  pointer-events: none;
	  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .5) 51%);
	  background-size: 100% 4px;
	  will-change: background, background-size;
	  animation: scanlines .05s linear infinite;
	}
}

@keyframes scanlines {
from {
	background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .5) 51%);
		background-size: 100% 4px;
}
to {
	background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 50%, transparent 51%);
		background-size: 100% 4px;
}
}

@media screen and (max-width: 768px) {
	.skeleton {
		grid-template-columns: 3fr 7fr;
		padding: 3.25rem;
	}

	.scanlines {
		opacity: .15;

		&:before {
			animation: scanlines .5s linear infinite;
		  }
	}

	.noise {
		position: fixed;
		top: -50%;
		left: -50%;
		right: -50%;
		bottom: -50%;
		width: 200%;
		height: 200vh;
		background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
		background-repeat: repeat;
		animation: noise-animation .2s infinite;
		background-blend-mode: difference;
		opacity: 1;
		visibility: visible;
	}
	
	@keyframes noise-animation {
		0% { transform: translate(0,0) }
		10% { transform: translate(-5%,-5%) }
		20% { transform: translate(-10%,5%) }
		30% { transform: translate(5%,-10%) }
		40% { transform: translate(-5%,15%) }
		50% { transform: translate(-10%,5%) }
		60% { transform: translate(15%,0) }
		70% { transform: translate(0,10%) }
		80% { transform: translate(-15%,0) }
		90% { transform: translate(10%,5%) }
		100% { transform: translate(5%,0) }
	}
}


