@import url("https://use.typekit.net/azl6arb.css");

:root {
  --ff:'all-round-gothic', Arial;
  --title: 700 3rem/1.4em var(--ff);
  --h1: 700 1.5rem/1.4em var(--ff);
  --h2: 700 1.25rem/1.4em var(--ff);
  --p: 400 1rem/1.4em var(--ff);
  --p2: 400 .8625rem/1.4em var(--ff);
  --gray100: hsl(0,0%, 100%);
  --gray70: hsl(0,0%, 70%);
  --gray30: hsl(0,0%, 30%);
  --grayo: hsl(0,0%,0%);
  --bgrnd: #eaeaea;
  --bgrnd2: #eaeaea;
  --fgrnd: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bgrnd: #101010;
    --fgrnd: #eaeaea;
  }
} */

html,
body {
  width: 100vw;
  height: 100lvh;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: var(--bgrnd);
}

body {
  color: var(--fgrnd);
  background: var(--bgrnd2);
  font-family: 'all-round-gothic', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.text {
  z-index: 10;
  height: fit-content;
  width: max-content;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 1.5rem;
  padding: 2.25rem 0 0 0;
}

.subtext {
  font: var(--p);
  color: var(--grayo);
  text-align: left;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

@keyframes mark-opacity-landing {
  0% {
    opacity: .06;
  }

  100% {
      opacity: .12;
  }
}

@keyframes mark-opacity-mobile {
  0% {
    opacity: .14;
  }

  100% {
      opacity: .22;
  }
}


/* @keyframes mark-opacity {
  0% {
    opacity: .05;
  }

  100% {
      opacity: .15;
  }
} */

.mark {
  position: fixed;
  bottom: -300px;
  right: -300px;
  opacity: .18;
  transform: translate(0, 0);
  pointer-events: all;
  transition: opacity .6s ease-in-out, scale .6s ease-in-out, filter .6s ease;
  filter: invert(0);
  mix-blend-mode: overlay;
  z-index: 5;
}

.mark {
  animation: 10s ease-in-out 0s infinite alternate mark-opacity-landing;
}
.mark:hover {
  scale: 1.02;
}
.mark.mark-landing:hover {
  scale: 1.1;
}
/* .mark-landing:not(.mark-landing:hover) {
  animation: 10s ease-in-out 0s infinite alternate mark-opacity-landing;
} */

.mark-landing, .mark-contact {
  /* :not(.mark-mobile) { */
    bottom: -250px;
    right: -300px;
    z-index: 20;
  /* } */
}

.mark-about {
  animation: unset;
  top: 45%;
  left: 50%;
  opacity: .17;
  scale: .9;
  /* transform: translateX(-50%); */
}
.mark-about:hover {
  opacity: .25;
  scale: .95;
}

.mark-contact:hover {
  opacity: .25;
  scale: 1.08;
}

.mark-port, .mark-exp {
  top: 50%;
  left: -300px;
  animation: none;
  opacity: .12;
}

.mark-focus {
  animation: unset;
  opacity: .3;
  scale: 1.04;
} 

.hyperlink {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transition: opacity 0.3s ease;
}
.hyperlink:hover {
  opacity: 0.5;
}

.hyperlink-arrow {
  font-size: .625rem;
  padding-left: .25rem;
  z-index: 20;
}

.footer {
  position: absolute;
  left: 2.25rem;
  bottom: 1.5rem;
  width: max-content;
  font-size: .65rem;
  opacity: .75;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}


@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .text {
    max-width: 19rem;
    line-height: 1.4;
    padding: 2.25rem 1.875rem 2.25rem 0;
  }

  .mark {
    top: unset;
    right: unset;
    left: unset;
    bottom: unset;
    animation: 15s ease-in-out 0s infinite alternate mark-opacity-mobile;
  }

  .mark-mobile {
    left: -8rem;
    bottom: -6rem;
    pointer-events: none;
  }
  .mark-about.mark-mobile {
    left: -12rem;
    top: 19rem;
    scale: .7;
  }
  .mark-contact.mark-mobile {
    left: -9rem;
    bottom: -10rem;
    /* opacity: .4; */
  }

  .mark-port.mark-mobile, .mark-exp.mark-mobile {
      left: -61%;
      top: 3.6rem;
      pointer-events: none;
      /* opacity: .17; */
  }
  /* .mark-exp.mark-mobile {
    opacity: .17;
  } */
}

@media screen and (max-height: 670px), screen and (max-width: 350px) {
  html {
    font-size: 12px;
  }
}

.mark.static-off {
  animation: none;
  filter: invert(.25);
  opacity: .5;
  mix-blend-mode: difference;
  pointer-events: none;
  top: unset;
  right: unset;
  left: -22rem;
  bottom: -17.1rem;
  scale: unset;
}

.mark.static-off.mark-landing, .mark.static-off.mark-contact {
  filter: invert(1);
  opacity: 1;
}

@media screen and (min-width: 768px){
  .mark.static-off {
    bottom: unset;
    /* scale: 1.7;
    left: 20.75rem;
    top: 4rem; */

    scale: 1.65;
    left: unset;
    left: 30rem;
    /* right: 3rem; */
    top: 9rem;
  }
}
