@import url("https://use.typekit.net/azl6arb.css");

:root {
  --background: #eaeaea;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --foreground: #eaeaea;
  }
} */

html,
body {
  width: 100vw;
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'all-round-gothic', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
