.piece-page-container {
  z-index: 999;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 1.625rem 0;
  overflow-y: auto;
  row-gap: .5rem;
  color: var(--grayo);
}

.piece-nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2.5rem;
  /* margin-top: .625rem; */
  padding: 1.75rem 0 0 0;
}

.piece-nav-link {
  min-width: 0;
  max-width: 50%;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font: var(--p2);
  font-weight: bold;
  transition: opacity 0.2s ease-in-out;
  row-gap: .125rem;

}

.piece-nav-link:hover {
  opacity: 0.6;
}

.piece-nav-link span {
  display: block;
  width: 100%;
  /* text-align: center; */
}

.piece-nav-link-title {
  width: 100%;
  max-width: 100%;
  font: var(--p2);
  font-size: .825rem;
  font-weight: normal;
  /* text-transform: uppercase; */
  color: var(--grayo);
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  /* opacity: .6; */
}

.piece-nav-link-title:hover {
  opacity: 1;
}

.piece-nav-link-prev {
  text-align: left;
}

.piece-nav-link-next {
  text-align: right;
}

.piece-page-container .piece-details {
  position: relative;
  /* padding-bottom: 2.25rem; */
  width: 100%;
  max-width: none;
}

.piece-expanded {
  row-gap: 1rem;
  font-size: 1rem;
  line-height: 1.625em;
}

.piece-page-img {
  width: 100%;
  max-width: none;
  transition: 0.3s;
}

.piece-page-title {
  font: var(--p);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
  min-width: 0;
  max-width: none;
}

.piece-subtitle {
  text-transform: uppercase;
}

.piece-repo {
  text-transform: uppercase;
}

.piece-header {
  font: var(--p2);
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.piece-images {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 1rem;
}

.piece-image {
  width: 100%;
  max-width: none;
  transition: 0.3s;
}

@media screen and (min-width: 331px) {
  .piece-page-container {
    width: 75%;
  }
}

@media screen and (min-width: 769px) {
  .piece-page-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    column-gap: 3.75rem;
    row-gap: 0;
    padding: 0 0 2rem 0;
  }

  .piece-page-img {
    width: 32.5vw;
    max-width: 32rem;
  }

  .piece-page-container .piece-details {
    width: auto;
    max-width: 20rem;
  }

  .piece-page-title {
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
  }
}

@media screen and (min-width: 1056px) {
  .piece-page-img {
    width: 40%;
  }

  .piece-page-title {
    font-size: 2.25rem;
  }
}
