.job-list {
    width: 100%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 4rem;
    padding-top: 1.5rem;
    line-height: 1.5em;
    color: var(--grayo);
    transition: 
        height 2s ease-out,
        opacity .2s ease-in-out;
}


.job-list::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

.job-list::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .65); 
    border-radius: 20px;
    transition: .4s;
}

.job-list::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .95);
    scale: 1.02; 
}

.filter-trans {
    opacity: 0;
}


.job {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    row-gap: 0;
    cursor: pointer;
    visibility: visible;
    transition:
        height 1s ease-out;
}
.job:not(.job-visible) {
    display: none;
}

.job-company {
    font: var(--title);
    color: var(--grayo);
    margin-bottom: -.25rem;
}

.job-preview {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    opacity: 1;
    transition: .4s;
    column-gap: .75rem;
    text-wrap: nowrap;
    text-align: center;
    margin-bottom: .5rem;
}
.job-date {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: .5rem;
    text-wrap: nowrap;
}

.job-preview:not(.job-preview-active) {
    opacity: 0;
}

.job-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: max-content;
    width: 100%;
    max-width: 33rem;
    opacity: 1;
    transition: 
        font-size .5s ease-in-out,
        opacity .3s ease-in-out .3s;
    row-gap: .625rem;
}
.job-desc:not(.job-desc-active) {
    transition: 
        font-size .5s ease-in-out .2s,
        opacity .4s ease-in-out;
    opacity: 0;
    font-size: 0;
}

.filter-key {
    position: fixed;
    height: 100%;
    width: 20%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
}

.exp-filter, .exp-key {
    position: fixed;
}

.exp-key-list {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: .25rem;
}

.exp-filter-item, .exp-key-item {
    font: var(--p);
    color: var(--gray30);
    font-weight: normal;
    opacity: 1;
    list-style-type: none;
}

.exp-key-item {
    color: var(--grayo);
}
.exp-key-item:not(.exp-key-current) {
    color: var(--gray30);
    opacity: .6;
}

@media screen and (max-width: 768px) {
    .job-list.mobile {
        align-self: flex-end;
        align-items: flex-start;
        row-gap: 2rem;
    }

    .job {
        max-height: none;
        text-align: left;
    }

    .job-company {
        font-size: 2rem;
        line-height: 100%;
        margin-bottom: .25rem;
    }

    .job-preview {
        flex-direction: column;
        align-items: flex-start;
        margin: .125rem 0;
    }
    .job-title {
        font-size: 1rem;
        width: max-content;
    }
    .job-date {
        font-size: .875rem;
    }
    .job-desc {
        align-items: flex-start;
    }
}
