.resume {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    /* margin-right: 3rem; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    column-gap: .25rem;
    overflow-y: scroll;
    padding-right: 5rem;
    /* 
    -ms-overflow-style: none;  /* Internet Explorer 10+
    scrollbar-width: none;  /* Firefox
    */
    /* scrollbar-color: black transparent;
    scrollbar-width: thin; */
    z-index: 10;
}
.resume::-webkit-scrollbar { 
    /* display: none;  /* Safari and Chrome */
}
.resume::-webkit-scrollbar {
    width: .23rem;
}

/* Track */
.resume::-webkit-scrollbar-track {
/* box-shadow: inset 0 0 5px grey; */
border-radius: 10px;
background: transparent;
}

/* Handle */
.resume::-webkit-scrollbar-thumb {
background: rgba(0, 0, 0, .65); 
border-radius: 20px;
/* box-shadow: 0 0 12px rgb(0, 0, 0);  */
transition: .4s;
}

/* Handle on hover */
.resume::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .95);
    scale: 1.02; 
}


.job-list {
    height: fit-content;
    min-height: 100svh;
    width: max-content;
    /* min-width: 450px; */
    /* margin-right: 3rem; */
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    /* overflow-x: hidden;
    overflow-y: scroll; */
    padding: 2rem 0;
    /* padding-left: 6.25rem; */
    transition: 
        height 2s ease-out,
        opacity .2s ease-in-out;
    /* background-color: green; */
    /* opacity: .5; */
}
.filter-trans {
    opacity: 0;
}


.job {
    width: 100%;
    height: max-content;
    /* max-height: 30%; */
    display: flex;
    flex-direction: column;
    row-gap: 0;
    cursor: pointer;
    visibility: visible;
    transition:
        height 1s ease-out;

    /* background-color: red;
    opacity: .5; */
}
.job:not(.job-visible) {
    display: none;
}
.job-visible {

}

.job-company {
    font: var(--p);
    font-size: 3rem;
    color: var(--gray0);
    margin-bottom: -.25rem;
    /* line-height: 1; */
    /* font-weight: bold; */
}

.job-preview {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    opacity: 1;
    transition: .4s;
    column-gap: .75rem;
    text-wrap: nowrap;
    text-align: center;
}
.job-date {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: .5rem;
    text-wrap: nowrap;
}

.job-preview:not(.job-preview-active) {
    opacity: 0;
}

.job-title {
    font: var(--p2);
    /* font-size: 3rem; */
    color: var(--gray0);
}

.job-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: max-content;
    width: 100%;
    max-width: 25rem;
    margin-top: .4rem;
    opacity: 1;
    transition: 
        font-size .5s ease-in-out,
        /* height .5s ease-out, */
        opacity .3s ease-in-out .3s;
    row-gap: .5rem;
    /* background-color: aqua;
    opacity: .5; */
    mix-blend-mode: difference;
}
.job-desc:not(.job-desc-active) {
    transition: 
        font-size .5s ease-in-out .2s,
        /* height .8s ease-in-out, */
        opacity .4s ease-in-out;
    /* height: 0px; */
    opacity: 0;
    font-size: 0;
}

.filter-key {
    position: fixed;
    height: 100%;
    width: 20%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
}

.exp-filter, .exp-key {
    /* position: fixed; */
}
.exp-key {
    /* bottom: 0; */
}

.exp-key-list {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: .25rem;
}

.exp-filter-item, .exp-key-item {
    font: var(--p);
    color: var(--gray30);
    font-weight: normal;
    opacity: 1;
    list-style-type: none;
}

.exp-key-item {
    /* font-weight: bold; */
    color: var(--grayo);
}
.exp-key-item:not(.exp-key-current) {
    color: var(--gray30);
    opacity: .6;
}

@media screen and (max-width: 768px) {
    .resume.mobile {
        width: 75%;
        padding: 2.25rem 2.25rem 2.25rem 0;
        overflow-y: hidden;
        align-items: flex-start;
    }

    .job-filter {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        font: var(--p2);
        color: var(--gray30);
        font-weight: normal;
        /* padding-left: 2.5rem; */
        /* position: fixed; */
        /* margin-top: 2.25rem; */
        column-gap: .5rem;
    }

    .job-list.mobile {
        width: 100%;
        row-gap: 2rem;
        margin-top: .5rem;
        padding: 0;
        padding-bottom: 15rem;
        overflow-y: scroll;
    }

    .job {
        max-height: none;
        text-align: left;
    }

    .job-company {
        font-size: 2rem;
        line-height: 100%;
        margin-bottom: .25rem;
    }

    .job-preview {
        flex-direction: column;
        align-items: flex-start;
    }
    .job-title {
        font-size: 1rem;
        width: max-content;
    }
    .job-date {
        font-size: .75rem;
    }
    .job-desc {
        align-items: flex-start;
    }
}

@media screen and (max-width: 330px) {
    .resume.mobile {
        width: 68%;
    }
    
}